<div class="wrapper-follow-me-ads">
    <img class="img-site-extension" src="assets/icons/background-image.jpg" alt="">
    <a class="media-player-icon" (click)="showMedia = true">
        <img src="assets/icons/g-ads-icon.svg" alt="">
    </a>
    <div class="media-wrapper" *ngIf="showMedia">
        <div class="media-header">
            <h1 class="media-title">Follow Me | Google Ads</h1>
            <ul class="media-list-icons">
                <li class="media-single-icon">
                    <a href="">
                        <img src="assets/icons/minus.svg" alt="">
                    </a>
                </li>
                <li class="media-single-icon">
                    <a href="">
                        <img src="assets/icons/power.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <ul class="screen-list">
            <li class="single-screen active">
                <img src="assets/icons/background-image.jpg" alt="">
            </li>
            <li class="single-screen">
                <img src="assets/icons/background-image.jpg" alt="">
            </li>
            <li class="single-screen">
                <img src="assets/icons/background-image.jpg" alt="">
            </li>
            <li class="single-screen">
                <img src="assets/icons/background-image.jpg" alt="">
            </li>
            <li class="single-screen">
                <img src="assets/icons/background-image.jpg" alt="">
            </li>
            <li class="single-screen">
                <img src="assets/icons/background-image.jpg" alt="">
            </li>
            <li class="single-screen">
                <img src="assets/icons/background-image.jpg" alt="">
            </li>
        </ul>
        <!-- <div class="progress-bar-wrapper">
        </div> -->
        <div class="media-footer">
            <div class="media-progress-bar"></div>
            <ul class="dots-list">
                <li class="s-dot active">
                    <span class="screen-nbr">
                    01
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    02
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    03
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    04
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    05
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    06
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    07
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    08
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    09
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    10
                  </span>
                </li>
                <li class="s-dot">
                    <span class="screen-nbr">
                    11
                  </span>
                </li>
            </ul>
            <div class="footer-content">
                <span class="left-footer-tag">Step 04 of 04</span>
                <ul class="footer-icons-list">
                    <li class="single-footer-icon">
                        <a href="">
                            <img src="assets/icons/skip-forward-left.svg" alt="">
                        </a>
                    </li>
                    <li class="single-footer-icon">
                        <a href="">
                            <img src="assets/icons/rewind-left.svg" alt="">
                        </a>
                    </li>
                    <li class="single-footer-icon">
                        <a href="">
                            <img src="assets/icons/arrow-right.svg" alt="">
                        </a>
                    </li>
                    <li class="single-footer-icon">
                        <a href="">
                            <img src="assets/icons/rewind-right.svg" alt="">
                        </a>
                    </li>
                    <li class="single-footer-icon">
                        <a href="">
                            <img src="assets/icons/skip-forward-right.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
