/* You can add global styles to this file, and also import other style files */

@import 'assets/switch';
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

i {
    cursor: pointer;
}

.custom-search {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1B1F25;
    opacity: 0.4;
    padding: 8px 20px 8px 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: url('assets/icons/search.svg') white no-repeat;
    background-position: right 16px center;
    border: none;
    &:focus {
        outline: none;
    }
}

// customer-account
.customer-account {
    margin: 24px 0;
    width: 100%;
    border: 1px solid #4F4F4F;
    border-radius: 26px;
    background: white;
    padding: 16px 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: black;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: #4F4F4F;
    }
}

.manage-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    padding: 8px 37px;
    background: #FECB2F;
    border-radius: 26px;
    border: none;
    &:focus {
        outline: none;
    }
}

// action-account
.action-account {
    display: flex;
    justify-content: flex-end;
}
