<div class="sidebar__panel">
   <div class="sidebar__header">
        <div class="sidebar__panel__logo">
            <img src="../../assets/icons/logo.svg" alt="">
        </div>
        <div>
            <img src="../../assets/icons/layout.svg" alt="">
            <button type="button" (click)="closeSidebar()" id="sidebar__close__btn" class="sidebar__close__btn">
                <img src="../../assets/icons/close-icon.svg" alt="close"> 
            </button>
        </div>
   </div>
   <div class="sidebar__panel__content">
        <div class="modal-body extension-modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Related</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">All</button>
                </li>
            </ul>
            
            <div class="inner-body-content">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="search-wrapper">
                            <input type="search" class="documents__search__field" placeholder="search">
                        </div>
                        <ul class="plays-cards-list">
                            <li class="single-play-card">
                                <div class="play-content-icon">
                                    <img src="../../assets/icons/file.svg" alt="">
                                    <div class="play-content">
                                        <h2 class="play-heading">How to download python</h2>
                                        <p class="play-des">This topic will step you through the process creating python code the process creating python code</p>
                                    </div>
                                </div>
                                <ul class="play-card-icon-list">
                                    <li class="play-card-single-icon badge-done person-done">
                                        <a href="" class="icon" title="Follow Me">
                                            <img src="../../assets/icons/person-done.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon" title="Standard">
                                            <img src="../../assets/icons/file-outline 1.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon" title="Generic">
                                            <img src="../../assets/icons/file-text.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon" title="Enduser">
                                            <img src="../../assets/icons/person.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon" title="Interactive Simulation">
                                            <img src="../../assets/icons/flash.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon" title="Accessibility">
                                            <img src="../../assets/icons/layers.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon" title="Test Simulation">
                                            <img src="../../assets/icons/cube.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="single-play-card">
                                <div class="play-content-icon">
                                    <img src="../../assets/icons/Vector.svg" alt="">
                                    <div class="play-content">
                                        <h2 class="play-heading">How to download python</h2>
                                        <p class="play-des">This topic will step you through the process creating python code the process creating python code</p>
                                    </div>
                                </div>
                                <ul class="play-card-icon-list">
                                    <li class="play-card-single-icon badge-done person-done">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/Frame (14).svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/file-outline 1.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/file-text.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/person.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/flash.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/layers.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/cube.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="single-play-card">
                                <div class="play-content-icon">
                                    <img src="../../assets/icons/Vector.svg" alt="">
                                    <div class="play-content">
                                        <h2 class="play-heading">How to download python</h2>
                                        <p class="play-des">This topic will step you through the process creating python code the process creating python code</p>
                                    </div>
                                </div>
                                <ul class="play-card-icon-list">

                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/file-text.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/person.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/flash.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/layers.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="play-card-single-icon">
                                        <a href="" class="icon">
                                            <img src="../../assets/icons/cube.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="single-play-card" [routerLink]="'/google-ads'">
                                <div class="play-content-icon">
                                    <img src="../../assets/icons/link-2.svg" alt="">
                                    <div class="play-content">
                                        <h2 class="play-heading">How to download python</h2>
                                        <p class="play-des">This topic will step you through the process creating python code the process creating python code</p>
                                    </div>
                                </div>

                            </li>
                            <li class="single-play-card">
                                <div class="play-content-icon">
                                    <img src="../../assets/icons/Vector.svg" alt="">
                                    <div class="play-content">
                                        <h2 class="play-heading">How to download python</h2>
                                        <p class="play-des">This topic will step you through the process creating python code the process creating python code</p>
                                    </div>
                                </div>

                            </li>
                            <li class="single-play-card">
                                <div class="play-content-icon">
                                    <img src="../../assets/icons/Vector.svg" alt="">
                                    <div class="play-content">
                                        <h2 class="play-heading">How to download python</h2>
                                        <p class="play-des">This topic will step you through the process creating python code the process creating python code</p>
                                    </div>
                                </div>

                            </li>
                            <li class="single-play-card">
                                <div class="play-content-icon">
                                    <img src="../../assets/icons/Vector.svg" alt="">
                                    <div class="play-content">
                                        <h2 class="play-heading">How to download python</h2>
                                        <p class="play-des">This topic will step you through the process creating python code the process creating python code</p>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                </div>
            </div>
        </div>
        <div class="modal-footer extension-footer-modal">
            <ul class="footer-extension-modal-icons">
                <li class="single-icon-footer">
                    <a class="footer-icon">
                        <img src="../../assets/icons/settings-2.svg" alt="">
                    </a>
                </li>
                <li class="single-icon-footer">
                    <a href="" class="footer-icon">
                        <img src="../../assets/icons/browser.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
   </div>
</div>

